*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --sidebar-background-color:rgba(128, 128, 128, 0.08);
    --sidebar-background-color-darken:rgba(128, 128, 128, 0.2);
    --white: #ffffff;
}

body{
    min-height: 100vh;
    width: 100vw;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    font-size: 1.5rem;
    background-color: rgb(248, 85, 44);
}

.body-wrapper{
    display: grid;
    grid-template-columns: 300px 1fr;

}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 1.8rem 0.8rem;
    height: 100vh;


    background-color: var(--sidebar-background-color);
}

.siderbar-tophalf{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar-icons{
    width: 30px;
    height: 30px;
}

#calendar-icon{
    filter: invert(13%) sepia(96%) saturate(3888%) hue-rotate(292deg) brightness(96%) contrast(95%);
}

#today-icon{
    filter: invert(57%) sepia(41%) saturate(7076%) hue-rotate(87deg) brightness(98%) contrast(106%);
}

#filter-icon{
    filter: invert(84%) sepia(34%) saturate(3798%) hue-rotate(341deg) brightness(100%) contrast(94%);
}

#completed-icon{
    filter: invert(57%) sepia(41%) saturate(7076%) hue-rotate(87deg) brightness(98%) contrast(106%);
}

.sidebar-tabs{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.sidebar-tabs:hover{
    cursor: pointer;
    background-color: var(--sidebar-background-color-darken);
}

#calendarPage{
    display: grid;
    grid-template-rows: auto auto 1fr;
}

option:disabled {
  color: #999999;
  background-color: #eeeeee;
  font-style: italic;
}


#calendar-container{
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    margin: 0px, auto;
}

#calendar-header{
    display: flex; 
}

.calendar-days{
    padding-left: 4rem;
    margin-right: 5rem;   
    color: var(--white);
}

#calendar{
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    background-color: var(--white); 
    

}

.calendarDay{
    flex-grow: 1;
    min-width: 0;

    padding: 0.7rem;
    background-color: var(--white); 
}

#welcome-caption{
    font-size: 3.5rem;
    font-weight: bold;
}